
aws_region                = "us-west-2"
availability_zone1        = "a"
availability_zone2        = "c"

#
# Subnet bits = number of bits used in the cidr for subnet.
# e.g. 10.0.0.0/16 cidr with 8 subnet bits means each subnet is 10.0.0.0/24, 10.0.1.0/24, etc
#
subnet_bits                 = 8

#
# index in the subnet in the cidr range.
# e.g. index 0 in 10.0.0.0/16 is 10.0.0.0/24
#
public_subnet_index         = 1
private_subnet_index        = 2
tgw_subnet_index            = 3

#
# Variables likely to change
#
keypair                     = ""

#
# cp (customer_prefix) and env (environment) prepended to all resources created by the template.
# Used for identification. e.g. "<customer_prefix>-<prod/test/dev>"
#
cp                          = "prefix"
env                         = "env"
vpc_name_security           = "security"
vpc_name_east               = "east"
vpc_name_west               = "west"

vpc_cidr_security           = "10.0.0.0/16"
vpc_cidr_east               = "192.168.0.0/24"
vpc_cidr_west               = "192.168.1.0/24"

fgt_admin_password          = "Texas4me!"
fortios_version             = "7.2.1"
fgt_byol_1_license          = "./licenses/fgt1-license.lic"
fgt_byol_2_license          = "./licenses/fgt2-license.lic"
fgt_host_ip                 = 10

#
# Booleans to enable certain features
#

#
# Section of booleans to conditionally create a set of resources
#

#
# Allow creation of Linux instances in east/west VPCs
#
enable_linux_instances                = true
#
# Enable cross az load balancing on the Gateway Load Balancer
#
enable_cross_az_lb                    = true
elb_listener_port                     = "80"

#
# Conditional for configuring the elastic IPs. Set management IPs to false if managing through direct connect
# Set public elastic ip to false if the HA Failover IP is not needed (e.g. behind a secondary NAT device).
#
# Changing the UDR will be sufficient for failover
#
create_public_elastic_ip              = true


#
# Fortimanager Section
#

#
# If Fortimanager is enabled, fill in the fortimanager variables at the next
#
enable_fortimanager                   = false

#
# How to license fortimanager
#
use_fortimanager_byol                 = true
#
# Fortimanager Variables
#
fortimanager_enable_public_ips     = false
fortimanager_use_byol              = true
fortimanager_sg_name               = "fortimanager security group"
fortimanager_instance_type         = "c5.xlarge"

fortimanager_instance_name         = "fortimanager"
fortimanager_os_version            = "7.1.2"
fortimanager_host_ip               = 12
fortimanager_byol_license          = "./licenses/fmgr-license.lic"

#
# create a base_vpc to deploy into. If set to false, use the TAG value to find the VPC to deploy into
#

vpc_tag_key               = "vpc-tag-key"
vpc_tag_value             = "vpc-tag-value"


#
# create a transit gateway for test traffic. set to false if the transit gateway already exists
#
create_transit_gateway                = true

#
# How to license the fortigate
#
use_fortigate_byol                    = true

public1_description         = "public1-az1"
private1_description        = "private1-az1"
tgw1_description            = "tgw1-az1"

public2_description         = "public2-az2"
private2_description        = "private2-az2"
tgw2_description            = "tgw2-az2"

#
# Fortigate Variables
# cidr_for_access goes into the inbound security group for the Fortigates. Current value is open. It may be wise to
# limit access to a jump box or specific IP/Subnet
#
cidr_for_access             = "0.0.0.0/0"
fortigate_instance_type     = "c5n.xlarge"
fortigate_instance_name_1   = "Fortigate One AA Pair"
fortigate_instance_name_2   = "Fortigate Two AA Pair"
acl                         = "private"

fortigate_hostname_1        = "fgt-active-az1"
fortigate_hostname_2        = "fgt-active-az2"
fgt_sg_name                 = "fortigate"

#
# Endpoints Variables
#
ec2_sg_name                 = "ec2"
linux_instance_name_east    = "East Linux Instance"
linux_instance_name_west    = "West Linux Instance"
linux_instance_type         = "t2.micro"
linux_host_ip               = 11
